body#destination {
  background: url(../../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}

.destination {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  .destination-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    h2 {
      font-family: $barlow;
      font-weight: 600;
      font-size: $big;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $white;
      align-self: center;
      margin-right: 100px;

      span {
        color: rgba(255, 255, 255, .35);
        margin-right: $medium;
      }
    }

    img {
      margin-top: 60px;
      width: 445px;
      align-self: center;
    }
  }

  .destination-description {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .destination-description-nav-link {
      display: flex;
      justify-content: space-between;
      width: 300px;

      .button-select {
        border-bottom: 3px solid #FFFFFF;
      }

      button {
        position: relative;
        background-color: transparent;
        border: none;
        font-family: $barlow;
        font-size: $medium;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        padding-bottom: $small;
        margin-bottom: $xlarge;

        &:hover span {
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $white;
          transition: all 200ms ease-in-out;
        }

        span {
          width: 0;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }

  .destination-description-title {
    font-family: $ballefair;
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase;
    color: $white;
    margin-bottom: $large;
  }

  .destination-description-paragraph {
    font-family: $barlow;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color: $color-paragraph;
    width: 28rem;
    padding-bottom: 50px;
  }

  .destination-description-info {
    display: flex;
    justify-content: flex-start;
    gap: 70px;

    @for $i from 1 to 3 {

      .destination-description-info-#{$i} {
        font-family: $barlow;
        font-size: $medium;
        text-transform: uppercase;
        color: $color-paragraph;
        letter-spacing: 2px;
        margin-top: $large;

        span {
          display: block;
          font-weight: 700;
          font-size: $xbig;
          color: $white;
          margin-top: 10px;
        }
      }
    }
  }
}

.line {
  height: .5px;
  width: 100%;
  background-color: rgba(255, 255, 255, .35);
}


.hidden {
  animation: animation-end 1000ms ease-in-out alternate-reverse;
}


@keyframes animation-end {
  to {
    opacity: 0;
    transform: translateX(50px);
  }

  from {
    opacity: 1;
    transform: translateX(0px);
  }
}