//colors 

$white: #FFFFFF;
$black: #000000;
$color-paragraph: #d0d6f9; 

//spacings

$small: 12px;
$medium: 16px;
$large: 20px;
$xlarge: 24px;
$big: 28px;
$xbig: 32px;
$huge: 36px;

//fonts 

$ballefair: 'Bellefair', serif;
$barlow: 'Barlow', sans-serif;